p{
    display: inline-block;
    margin-left: 10px;
}
.border{
    border-radius:.5px; 
    color: gray; border: 
    solid; 
    border-radius: 6px;
}
button{
   background-color: rgb(32, 112, 242);
   color: white;
   border:none; 
   border-radius: 12px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 10px;
   justify-content: right;
}

.home{
    margin-left: 500px;
}
.notification{
    margin-left: 460px;
}

.messages{
    margin-left: 480px;
}

