p{
    display: inline-block;
    margin-left: 10px;
    color: black;
}
.border{
    border-radius:.5px; 
    color: rgb(191, 186, 186); 
    border: solid; 
    border-radius: 6px;
    height: 150px;
    width: 300px;
}
button{
   background-color: rgb(32, 112, 242);
   color: white;
   border:none; 
   border-radius: 12px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 10px;
}

.home{
    margin-left: 200px;
    margin-bottom: 0;
    
}
.notification{
    margin-left: 160px;
    margin-bottom: 0;
}

.messages{
    margin-left: 180px;
    margin-bottom: 0;
}

