.container{
background-color: rgb(144, 95, 248);
display: flex;
flex-direction: row;
height:60px;
width: 500px;
justify-content: space-between;
align-items: center;
padding-left: 15px;
padding-right: 15px;
}

.home{
    color: white;
}

.search{   
    display: inline-block;
    border: none;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 5px;
    height:15px;
    width:270px;
}

.download{
    background-color: rgb(144, 95, 248);
    border-color: white;
    color: white;
    border: 1px;
    border-style: solid;   
    margin-right: 10px;

}